{% extends "travel/base.html" %}
{% load humanize %}

{% block head %}
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.css' rel='stylesheet' />
<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/arc.js/v0.1.0/arc.js'></script>
<style>
    #map {
        width:100%;
        height: 400px;
    }
</style>
{% endblock %}

{% block content %}
<h3>
    {{trip.name}} &mdash;
    <a href="{% url 'trips' user.username %}" >{{user.first_name}} {{user.last_name}}</a>
</h3>
<p>{{trip.reason}}</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Carrier</th>
            <th>Flight Number</th>
            <th>Origin</th>
            <th>Departure</th>
            <th>Destination</th>
            <th>Arrival</th>
        </tr>
    </thead>
    <tbody>
{% for flight in flights %}
        <tr>
            <td>{{flight.carrier.name}}</td>
            <td>{{flight.flight_number}}</td>
            <td>{{flight.origin.code}}</td>
            <td>{{flight.departure_time|humanize_delta}}</td>
            <td>{{flight.destination.code}}</td>
            <td>{{flight.arrival_time|humanize_delta}}</td>
        </tr>
{% endfor %}
    </tbody>
</table>

<div id='map'></div>
<script>
var map = L.mapbox.map('map', 'examples.map-i86nkdio').setView([
    39.50, -98.35
], 4);

{% for flight in flights %}
L.geoJson(new arc.GreatCircle(
            {y: {{flight.origin.lat}}, x: {{flight.origin.lon}}},
            {y: {{flight.destination.lat}}, x: {{flight.destination.lon}}},
            {name: '{{flight.origin.code}} to {{flight.destination.code}}'}
).Arc(100, { offset: 10 }).json()).addTo(map);
{% endfor %}

</script>


{% endblock %}
