{% extends "travel/base.html" %}
{% load humanize %}

{% block content %}
<h3>Flights</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Carrier</th>
            <th>Flight Number</th>
            <th>Origin</th>
            <th>Departure</th>
            <th>Destination</th>
            <th>Arrival</th>
        </tr>
    </thead>
    <tbody>
{% for flight in trip.flights.all %}
        <tr>
            <td>{{flight.carrier.name}}</td>
            <td>{{flight.flight_number}}</td>
            <td>{{flight.origin.code}}</td>
            <td>{{flight.departure_time|humanize_delta}}</td>
            <td>{{flight.destination.code}}</td>
            <td>{{flight.arrival_time|humanize_delta}}</td>
        </tr>
{% endfor %}
    </tbody>
</table>

{% endblock %}
