{% extends "travel/base.html" %}
{% load humanize %}

{% block title %}Where!{% endblock %}

{% block content %}
<style>
body, html {
    width:            100%;
    height:           100%;
    background:       url({{place.photo}}) no-repeat center center fixed;
    background-size:  cover;
}

.container {
    height: 100%;
}

#where {
    height: 100%;
    color:            #FFFFFF;
    display:          flex;
    justify-content:  center;
    align-items:      center;


}
</style>

<div id="where">
    <h1>{{place.name}}</h1>
</div>

{% endblock %}
